@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: 600;
}

.ButtonGroup {
  background-color: #e2d8d8;
  color: black;
}

.SearchBG {
  background-color: #e2d8d8;
  color: black;
  border-radius: 20px;
}

.Button:enabled {
  background-color: #e2d8d8;
  color: black;
  text-transform: none;
}

.Filter:enabled {
  background-color: #e2d8d8;
  color: black;
  text-transform: none;
  border-radius: 20px;
}
